
// Add some padding on top of the editor view
.markdown-source-view .cm-scroller
  padding-top: 20px !important

// Simplify line spacing
.markdown-source-view *
  margin-top: 0 !important
  margin-bottom: 0 !important
  padding-top: 0 !important
  padding-bottom: 0 !important

// Ensure our monospace font is used everywhere while in edit mode
.markdown-source-view *
  font-family: var(--font-monospace)
  font-size: font_size($monospace-size-factor)

.markdown-source-view.mod-cm6 .cm-line.HyperMD-codeblock
  padding-left: 0

// Add a gutter to the right of the editor view
.cm-contentContainer
  border-right: 1px solid var(--accent-color-l50)

// Color the gutter text in light
.cm-gutterElement
  color: var(--accent-color-l50)
