
=header($levels...)
  @each $level in $levels
    .markdown-preview-view h#{$level},
    .cm-s-obsidian .cm-header-#{$level}
      margin-top: 0 !important
      @content

+header(1)
  font-size: font_size(1.25) !important
  font-weight: 700

+header(2, 3)
  font-size: font_size(1.15) !important
  font-weight: 700

+header(4, 5)
  font-size: font_size(1.05) !important
  font-weight: 600

+header(3, 5)
  border-bottom: 2px solid var(--accent-color-alpha_50)

+header(6)
  font-size: font_size(1) !important
