
a.tag
  background-color: color.adjust($background-color, $lightness: -5%)
  border: 1px solid color.adjust($background-color, $lightness: -10%)
  border-radius: 5px
  padding: 3px 6px 3px 6px
  text-decoration: none
  color: var(--text-normal)
  +font_size(0.85)
