@use "sass:meta"
@use "sass:color"

$monospace-font: "Inconsolata"
$monospace-size-factor: 1.1
$background-color: rgb(249, 247, 243)

$accent-color-default: #000
$accent-color-bases: ("red": rgb(203, 77, 73), "green": rgb(54, 145, 132), "blue": rgb(0, 99, 177), "purple": rgb(123, 108, 217))
$accent-color-steps: 5, 25, 50, 75

@import _settings

.theme-light
  --background-primary: #{$background-color}
  --accent-color: #{$accent-color-default}
  @each $step in $accent-color-steps
    --accent-color-l#{$step}: #{color.scale($accent-color-default, $lightness: +$step*1%)}
    --accent-color-d#{$step}: #{color.scale($accent-color-default, $lightness: -$step*1%)}
    --accent-color-s#{$step}: #{color.scale($accent-color-default, $saturation: -$step*1%)}

  @each $accent-name, $accent-color-base in $accent-color-bases
    &.theme-accent-#{$accent-name}
      --accent-color: #{$accent-color-base}
      @each $step in $accent-color-steps
        --accent-color-l#{$step}: #{color.scale($accent-color-base, $lightness: +$step*1%)}
        --accent-color-d#{$step}: #{color.scale($accent-color-base, $lightness: -$step*1%)}
        --accent-color-s#{$step}: #{color.scale($accent-color-base, $alpha: $step*1%)}

  --interactive-accent: var(--accent-color)
  --text-accent: var(--accent-color)
  --text-accent-hover: var(--accent-color-d25)

  --titlebar-background: var(--accent-color-l50)
  --titlebar-background-focused: var(--accent-color)

  --tab-outline-color: var(--accent-color-d5)
  --tab-outline-width: 1px

  --tab-text-color: var(--accent-color-d50)
  --tab-text-color-focused: var(--accent-color-d75)

  --icon-color: var(--accent-color-d50)
  --icon-color-hover: var(--accent-color-d50)
  --icon-color-active: var(--accent-color-d75)
  --icon-color-focused: var(--accent-color-d75)

  .workspace-tab-header-status-icon,
  .workspace-tab-header-inner-icon
    color: var(--accent-color-d50)

@function font_size($factor)
  @return calc(var(--font-text-size) * $factor)

body
  --font-monospace: #{meta.inspect($monospace-font)}, monospace !important

  --tab-font-size: #{font_size(0.85)}
  --tab-font-weight: 600

  --tab-stacked-font-size: #{font_size(0.9)}
  --tab-stacked-font-weight: 600

  --nav-item-size: #{font_size(0.9)}

  --code-size: #{font_size($monospace-size-factor)}

.workspace-tabs.mod-stacked .workspace-tab-container .workspace-tab-header
  background-color: var(--background-secondary) !important
  border-left: 3px solid var(--accent-color-l25)

@import edit_mode
@import preview_mode

@import headers
@import highlights
@import callouts
@import tags

// Fix: code blocks should have less space around them
pre.language-shell
  margin: 10px
  border-radius: 5px

code.language-shell
  padding: 5px

ul
  padding-left: 15px !important

@import plugin_jira
