
@import _settings
@import theme

@import edit_mode
@import preview_mode

@import headers
@import highlights
@import callouts
@import tags

// fix: code blocks should have less space around them
pre.language-shell
  margin: 10px
  border-radius: 5px

code.language-shell
  padding: 5px

// fix: assets should be less visible in the file panel
.nav-folder-title[data-path$=".assets"],
.nav-file-title[data-path*=".assets"]
  color: var(--text-faint) !important

@import plugin_jira
//@import plugin_kanban
